/* entry */
section.entry::after {
  content: "";
  background-image: url('../images/entry/entry-bg2.webp');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.3;
  z-index: -1;
}

    .cardy-sl {
        max-width: 160px;
		border-radius: 8px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .cardy-image img {
        max-height: 100%;
        max-width: 100%;
        border-radius: 8px 8px 0px 0;
        opacity: 0.9;
    }



    .cardy-text {
        padding: 2px 0px;
        background: #fff;
        color: #636262;
    }

    .cardy-button {
        display: flex;
        justify-content: center;
        padding: 10px 0;
        width: 100%;
        background-color: #8b3253;
        color: #fff;
        border-radius: 0 0 8px 8px;
        border-top: 3px solid white;
        font-size: 12px;
        line-height: 1.6em;
    }
	

/* geocards */
#geocards {
    background-color: #9b1b4c;
}
#geocards .card-horizontal {
    display: flex;
    flex: 1 1 auto;
	min-width: 260px;
	max-width: 280px;
}
#geocards .card-horizontal img {
    width: 60px;
    height: 60px;
}
#geocards .card-horizontal, #geocards .card-horizontal h5 {
    color: #FFFFFF;
}
#geocards .card-horizontal p {
    line-height: 1.2em;
    font-size: 80%;
}



/* Maps */

/* Top map dashed line */
.map-dashed-path {
  stroke-dasharray: 0 1000;
  /*stroke-dashoffset: 1000; /* NOT NEEDED */
  animation: mapdash 5s linear alternate;
}

@keyframes mapdash {
  from {
    stroke-dasharray: 0 100; /* zero-length stroke, 
                                 1000-length gap */
  }
  to {
    stroke-dasharray: 100 0;/* 1000-length stroke, 
                                 zero-length gap */
  }
}


/* Middle maps */
.mapsmiddle {
	border-style: solid;
    border-width: 1px;
    border-color: #efefef;
    box-shadow: 0px 10px 60px 0px rgba(0,0,0,.1);
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    margin-top: 0;
    margin-bottom: 0;
    padding: 70px 80px;
    background-color: #FFFFFF;
    border-radius: 6px;
	z-index: 0;
}
.mapsmiddle::after {
  content: "";
  background-image: url('../images/map/bg-11.webp');
  background-repeat: no-repeat;
  background-position: bottom center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.1;
  z-index: -1;
}/* poi icons wrapper is controlled via style.pois.css */


/* Bottom maps */
section.mapps {
  height: 1200px;
  margin-top: -120px;
}
section.mapps::after {
  content: "";
  background-image: url('../images/map/map-bg.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.3;
  z-index: -1;
}

.vidcard {
  background: transparent;
}

.vidcard img {
	max-width:100%;
	max-height:100%;
}

.mappscol {
  background: white;
}

.mappscol img {
	max-width:100%;
	max-height:100%;
}



	
/* Bootstrap overrides */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 1160px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1600px;
  }
}


/* Bootstrap.style additions */

.w-90{width:90%!important}
.w-80{width:80%!important}
.w-65{width:65%!important}

.text-justify {/* from v4 abandoned in v5 */
  margin: 0;
  /* text-indent: 2rem; */
  text-align: justify;
}



/* animate.style additions */
.animate__animated.animate__delay-1-5s {-webkit-animation-delay: 1.5s;animation-delay: 1.5s;-webkit-animation-delay: calc(var(--animate-delay)*1.5);animation-delay: calc(var(--animate-delay)*1.5);}
.animate__animated.animate__delay-2-5s {-webkit-animation-delay: 2.5s;animation-delay: 2.5s;-webkit-animation-delay: calc(var(--animate-delay)*2.5);animation-delay: calc(var(--animate-delay)*2.5);}
.animate__animated.animate__delay-3-5s {-webkit-animation-delay: 3.5s;animation-delay: 3.5s;-webkit-animation-delay: calc(var(--animate-delay)*3.5);animation-delay: calc(var(--animate-delay)*3.5);}
.animate__animated.animate__delay-4-5s {-webkit-animation-delay: 4.5s;animation-delay: 4.5s;-webkit-animation-delay: calc(var(--animate-delay)*4.5);animation-delay: calc(var(--animate-delay)*4.5);}
.animate__animated.animate__delay-5-5s {-webkit-animation-delay: 5.5s;animation-delay: 5.5s;-webkit-animation-delay: calc(var(--animate-delay)*5.5);animation-delay: calc(var(--animate-delay)*5.5);}


/* shadows */
.shadow-c {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* list styles */
ul.alpha {
  list-style-type: square;
  font-size: 0.8em;
}
	ul.alpha li {
	  line-height: 1.6em;
	}
ul.beta {
  list-style-type: square;
  font-size: 90%;
}

.lightspan {
  font-weight: 100;
}
